{% extends 'base.html.twig' %}

{% block title %}Culture Search{% endblock %}

 {% block pageheader %}
     <h1>Culture Search</h1>
     {% if civilizations|length %}
         <p class="count">
             Displaying {{ civilizations|length }} cultures of {{ civilizations.getTotalItemCount }} total.
         </p>
     {% endif %}
 {% endblock %}

{% block body %}

    {% include 'partial/search-form.html.twig' %}
    {% if civilizations|length %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for civilization in civilizations %}
                    <tr>

                        <td>
                            <a href="{{ path('civilization_show', {'id': civilization.id}) }}">
                                {{ civilization.label }}
                            </a>
                        </td>

                        <td>
                            {{ civilization.description|raw }}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>


        <div class="navigation">
            {{ knp_pagination_render(civilizations) }}
        </div>
    {% endif %}

{% endblock %}

