{% extends 'base.html.twig' %}

{% block title %}Inscription Style Search{% endblock %}

 {% block pageheader %}
     <h1>Inscription Style Search</h1>
     {% if inscription_styles|length %}
         <p class="count">
             Displaying {{ inscription_styles|length }} styles of {{ inscription_styles.getTotalItemCount }} total.
         </p>
     {% endif %}
 {% endblock %}

{% block body %}

   {% include 'partial/search-form.html.twig' %}

    {% if inscription_styles|length %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Label</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for inscription_style in inscription_styles %}
                <tr>

                    <td>
                        <a href="{{ path('inscription_style_show', {'id': inscription_style.id}) }}">
                            {{ inscription_style.id }}
                        </a>
                    </td>
                    <td>
                        {{ inscription_style.name }}
                    </td>

                    <td>
                        {{ inscription_style.label }}
                    </td>

                    <td>
                        {{ inscription_style.description }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>


        <div class="navigation">
            {{ knp_pagination_render(inscription_styles) }}
        </div>
    {% endif %}

{% endblock %}

