<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Name</th>
            <td>
                {{ technique.name }}
            </td>
        </tr>
        <tr>
            <th>Label</th>
            <td>
                {{ technique.label }}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                {{ technique.description|raw }}
            </td>
        </tr>

        <tr>
            <th>Item</th>
            <td>
                {% if technique.items|length > 0 %}
                    <ul>
                        {% for item in technique.items %}
                            <li>
                                <a href='{{ path("item_show", {"id":item.id }) }}'>
                                    {{ item }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ technique.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ technique.updated|date }}</td>
        </tr>
    </tbody>
</table>


