<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Label</th>
            <th>Description</th>

        </tr>
    </thead>
    <tbody>
        {% for inscription_style in inscription_styles %}
            <tr>
                <td>
                    <a href="{{ path('inscription_style_show', { 'id': inscription_style.id }) }}">
                        {{ inscription_style.id }}
                    </a>
                </td>
                <td>
                    {{ inscription_style.name }}
                </td>

                <td>
                    {{ inscription_style.label }}
                </td>

                <td>
                    {{ inscription_style.description|raw }}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
