<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Url</th>
            <th>Title</th>
            <th>Description</th>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for remote_image in remote_images %}
            <tr>
                <td>
                    <a href="{{ path('remote_image_show', {'id': remote_image.id}) }}">
                        {{ remote_image.title }}
                    </a>
                </td>
                <td>
                    {{ remote_image.url }}
                </td>
                <td>
                    {{ remote_image.description|raw }}
                </td>
                {% if is_granted('ROLE_CONTENT_ADMIN') %}
                    <th>
                        <div class="d-grid gap-2 d-md-block m-2 text-end">
                            <a href="{{ path('item_edit_remote_image', {'id': remote_image.item.id, 'remote_image_id': remote_image.id}) }}" class="btn btn-light">
                                <span class='bi bi-pencil-square'></span> </a>
                            <form class='delete-form' method="post" action="{{ path('item_delete_remote_image', {'id': remote_image.item.id, 'remote_image_id': remote_image.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ remote_image.id) }}">
                                <button class="btn btn-danger"><span class="bi bi-trash"></span></button>
                            </form>
                        </div>
                    </th>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
