{# image/partial/carousel.html.twig #}

{% import 'partial/icons.html.twig' as icons %}
{% import 'item/partial/detail.html.twig' as dl %}

{# Create the dots if we need to, which are filled by Slider.js #}
{% if images|length > 1 %}
    <ul class=" dots">
    </ul>
{% endif %}

{# Create the actual slider #}
<div class="image-slider-container">

    {# If the slider has multiple images, create the next/previous buttons #}
    {% if images|length > 1 %}
        <button aria-label="Previous" class="slider-btn slider-btn-prev">
            {{ icons.get('chevron_left') }}
        </button>
        <button aria-label="Next" class="slider-btn slider-btn-next">
            {{ icons.get('chevron_right') }}
        </button>
    {% endif %}

    {# Create the actual slider #}
    <div class="image-slider">
        {% for image in images %}
            {% set item_id = "item-" ~ loop.index %}
            <div id="{{ item_id }}" class="item{% if loop.first %} active{% endif %}">
                {# Top bit #}
                <div class="img-container">
                    <a
                            href="{{ path('image_view', {'id': image.id}) }}"
                            data-date="{{ image.created|date }}"
                            data-img="{{ path('image_view', {'id': image.id}) }}">
                        {% include 'partial/image.html.twig' with {'loading': 'auto'} %}
                    </a>
                </div>

                {# Info box at the bottom #}
                <div class="img-info">
                    <div class="img-toolbar">
                        {# Tools for interacting with the image #}
                        <div class="img-toolbar__tools">
                            <a class="img-tool-info">{{ icons.get('info_circle') }}</a>
                            <a class="img-tool-zoom">{{ icons.get('arrows_fullscreen') }}</a>
                        </div>

                        {# Now make the image details, which is open by default, but should be closed if nojs exists,
                           since the summary block is hidden
                        #}
                        <details id="{{ item_id }}-description" class="nojs-open">
                            <summary id="{{ item_id }}-description-summary" class="summary__img-description">Image
                                Information
                            </summary>
                            <div class="item-details-list">
                                {{ dl.make(image, 'description', 'description') }}
                                {{ dl.make(image, 'license', 'license') }}
                            </div>
                        </details>

                        {% if is_granted('ROLE_CONTENT_ADMIN') %}
                            <div class="row gap-2 admin">
                                <a href="{{ path('item_edit_image', {'id': image.item.id, 'image_id': image.id}) }}"
                                   class="btn btn-light col">
                                    <span class='bi bi-pencil-square'></span> Edit image </a>
                                <form class='delete-form col' method="post" action="{{ path('item_delete_image', {'id': image.item.id, 'image_id': image.id}) }}"
                                        onsubmit="return confirm('Are you sure you want to delete this image?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ image.id) }}">
                                    <button class="btn btn-danger w-100"><span class="bi bi-x-lg"></span> Remove image </button>
                                </form>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</div>






