<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Public</th>
            <th>Original Name</th>
            <th>Image Path</th>
            <th>Thumb Path</th>
            <th>Image Size</th>
            <th>Image Width</th>
            <th>Image Height</th>
            <th>Description</th>
            <th>License</th>

        </tr>
    </thead>
    <tbody>
        {% for image in images %}
            <tr>
                <td>
                    <a href="{{ path('image_show', { 'id': image.id }) }}">
                        {{ image.id }}
                    </a>
                </td>
                <td>{% if image.public %}Yes{% else %}No{% endif %}</td>


                <td>
                    {{ image.originalName }}
                </td>

                <td>
                    {{ image.imagePath }}
                </td>

                <td>
                    {{ image.thumbPath }}
                </td>

                <td>
                    {{ image.imageSize }}
                </td>

                <td>
                    {{ image.imageWidth }}
                </td>

                <td>
                    {{ image.imageHeight }}
                </td>

                <td>
                    {{ image.description|raw }}
                </td>

                <td>
                    {{ image.license|raw }}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
