{% extends 'base.html.twig' %}

{% block title %}Epigraphy List{% endblock %}

{% block pageheader %}
    <h1>Epigraphy List</h1>
    <p class="count">
        Displaying {{ epigraphies|length }} epigraphies of {{ epigraphies.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('epigraphy_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            {% endif %}

            <a href="{{ path('epigraphy_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>                                           <th>Name</th>
                                                               <th>Label</th>
                                                               <th>Description</th>
                    
            </tr>
        </thead>
        <tbody>
        {% for epigraphy in epigraphies %}
            <tr>

                <td>
                    <a href="{{ path('epigraphy_show', { 'id': epigraphy.id }) }}">
                        {{ epigraphy.id }}
                    </a>
                </td>
                <td>
                    {{ epigraphy.name }}
                </td>
            
                <td>
                    {{ epigraphy.label }}
                </td>
            
                <td>
                    {{ epigraphy.description }}
                </td>
            
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(epigraphies) }}
    </div>

{% endblock %}
