{% extends 'base.html.twig' %}

{% block title %}Material Search{% endblock %}

 {% block pageheader %}
     <h1>Material Search</h1>
     {% if materials|length %}
         <p class="count">
             Displaying {{ materials|length }} materials of {{ materials.getTotalItemCount }} total.
         </p>
     {% endif %}
 {% endblock %}

{% block body %}

    <form method="get" action="{{ path('material_search') }}" class="form-horizontal">
        <fieldset>
            <legend>Search</legend>
            <div class='input-group'>
                <input type='text' name='q' id='q' class='form-control' placeholder="Search term" value='{{ q }}'>
                <span class="input-group-btn">
                    <button class="btn btn-primary" id='btn-search' type="submit">
                        <span class='bi bi-search'></span>
                        Search
                    </button>
                </span>
            </div>
            {% embed 'partial/accordion.html.twig' %}
                {% block class %}search-help{% endblock %}
                {% block summary %}Search Options{% endblock %}
                {% block content %}
                    <ul>
                        <li><code>shakespeare</code> - shakespeare should be present, but might not be</li>
                        <li><code>shakes*</code> - words starting with shakes should be present</li>
                        <li><code>+agnes</code> - agnes must be present</li>
                        <li><code>-fisher</code> - fisher must not be present</li>
                        <li>Combinations are OK: <code>+agnes -fisher</code> finds Agnes and not Fisher</li>
                        <li>Phrases are OK: <code>"nee agnes"</code> finds rows that contain the literal phrase.
                    </ul>
                {% endblock %}
            {% endembed %}
        </fieldset>
    </form>

    {% if materials|length %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Label</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for material in materials %}
                <tr>

                    <td>
                        <a href="{{ path('material_show', {'id': material.id}) }}">
                            {{ material.id }}
                        </a>
                    </td>
                    <td>
                        {{ material.name }}
                    </td>

                    <td>
                        {{ material.label }}
                    </td>

                    <td>
                        {{ material.description }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>


        <div class="navigation">
            {{ knp_pagination_render(materials) }}
        </div>
    {% endif %}

{% endblock %}

