{% extends 'base.html.twig' %}

{% block title %}period Search{% endblock %}

 {% block pageheader %}
     <h1>period Search</h1>
     {% if periods|length %}
         <p class="count">
             Displaying {{ periods|length }} periods of {{ periods.getTotalItemCount }} total.
         </p>
     {% endif %}
 {% endblock %}

{% block body %}

    {% include 'partial/search-form.html.twig' %}
    {% if periods|length %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Label</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for period in periods %}
                <tr>

                    <td>
                        <a href="{{ path('period_show', {'id': period.id}) }}">
                            {{ period.id }}
                        </a>
                    </td>
                    <td>
                        {{ period.name }}
                    </td>

                    <td>
                        {{ period.label }}
                    </td>

                    <td>
                        {{ period.description }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>


        <div class="navigation">
            {{ knp_pagination_render(periods) }}
        </div>
    {% endif %}

{% endblock %}

