{% extends 'base.html.twig' %}

{% block title %}Language Search{% endblock %}

 {% block pageheader %}
     <h1>Language Search</h1>
     {% if languages|length %}
         <p class="count">
             Displaying {{ languages|length }} languages of {{ languages.getTotalItemCount }} total.
         </p>
     {% endif %}
 {% endblock %}

{% block body %}

    {% include 'partial/search-form.html.twig' %}
    {% if languages|length %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Label</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for language in languages %}
                    <tr>

                        <td>
                            <a href="{{ path('language_show', { 'id': language.id }) }}">
                                {{ language.id }}
                            </a>
                        </td>
                        <td>
                            {{ language.name }}
                        </td>

                        <td>
                            {{ language.label }}
                        </td>

                        <td>
                            {{ language.description }}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>


        <div class="navigation">
            {{ knp_pagination_render(languages) }}
        </div>
    {% endif %}

{% endblock %}

