{% extends 'base.html.twig' %}

{% block title %}Locations{% endblock %}

{% block pageheader %}
    <h1>Locations</h1>
    <p class="count">
        Displaying {{ locations|length }} locations of {{ locations.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block admin %}
    <div class='btn-toolbar'>
        <div class='btn-group'>
            <a href="{{ path('location_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            <a href="{{ path('location_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>
{% endblock %}

{% block body %}

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>
                    <a href="{{ path('location_show', { 'id': location.id }) }}">
                        {{ location.label }}
                    </a>
                </td>
                <td>{{ location.id }}</td>
                <td>{{ location.country }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(locations) }}
    </div>

{% endblock %}
