<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
    <tr>
        <th>Name</th>
        <td>
            {{ period.name }}
        </td>
    </tr>
    <tr>
        <th>Label</th>
        <td>
            {{ period.label }}
        </td>
    </tr>
    <tr>
        <th>Description</th>
        <td>
            {{ period.description|raw }}
        </td>
    </tr>
    <tr>
        <th>Sortable Year</th>
        <td>
            {{ period.sortableYear }}
        </td>
    </tr>

    <tr>
        <th>Created</th>
        <td>{{ period.created|date }}</td>
    </tr>
    <tr>
        <th>Updated</th>
        <td>{{ period.updated|date }}</td>
    </tr>
    </tbody>
</table>


