<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Label</th>
            <th>Description</th>

        </tr>
    </thead>
    <tbody>
        {% for material in materials %}
            <tr>
                <td>
                    <a href="{{ path('material_show', { 'id': material.id }) }}">
                        {{ material.id }}
                    </a>
                </td>
                <td>
                    {{ material.name }}
                </td>

                <td>
                    {{ material.label }}
                </td>

                <td>
                    {{ material.description|raw }}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
