

{% if item is defined and item.name is defined %}
    {% if item.images | length > 0 %}
        {% set img = path('item_image_thumbnail', {'id': item.id, 'image_id': item.images[0].id})   %}
        {% set imgClass = 'real' %}
    {% endif %}

    <div class="item">
        <a class="item-card" href="{{ path('item_show', {'id': item.id}) }}">
            <div class="item-img-wrapper">
                <div>
                    <img class="{{ imgClass|default('placeholder') }}"
                         src="{{ img|default(asset('images/no-img.svg')) }}"
                         alt="{{ desc|default('No image available') }}" class="lazy">
                </div>
            </div>
            {% if item is defined and item.name is defined %}
                <div class="item-content-wrapper">
                    <div class="item-content">
                        <h2 class="item-content-header">{{ item.name }}</h2>
                        <div class="item-content-desc">
                            {{ item.displayYear }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </a>
    </div>
{% endif %}

{#
<div>
    <a> <!--First-->
        <div> <!--Wrapper-->
            <div> <!--Left-->
                <div>
                    <img/>
                </div>
            </div>
            <div> <!--Content-->
                <div>
                    <h2></h2>
                    <p></p>
                </div>
            </div>
        </div>
    </a>
</div>


#}
