{% extends 'base.html.twig' %}

{% block title %}Item List{% endblock %}

{% block pageheader %}
    <h1>Item List</h1>
    <p class="count">
        Displaying {{ items|length }} items of {{ items.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('item_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            {% endif %}

            <a href="{{ path('item_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>                                           <th>Name</th>
                                                               <th>Description</th>
                                                               <th>Inscription</th>
                                                               <th>Translated Inscription</th>
                                                               <th>Dimensions</th>
                                                               <th>References</th>
                                                               <th>Revisions</th>
                    
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>

                <td>
                    <a href="{{ path('item_show', { 'id': item.id }) }}">
                        {{ item.id }}
                    </a>
                </td>
                <td>
                    {{ item.name }}
                </td>
            
                <td>
                    {{ item.description }}
                </td>
            
                <td>
                    {{ item.inscription }}
                </td>
            
                <td>
                    {{ item.translatedInscription }}
                </td>
            
                <td>
                    {{ item.dimensions }}
                </td>
            
                <td>
                    {{ item.references }}
                </td>
            
                <td>
                    {{ item.revisions }}
                </td>
            
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(items) }}
    </div>

{% endblock %}
