{% extends 'base.html.twig' %}
{% import 'item/partial/detail.html.twig' as dl %}

{% set has_images = item.images|length + item.remoteImages|length > 0 %}

{% block title %}{{ item.name }}{% endblock %}

{% block action_buttons %}
    <a href="{{ path('item_add_image', {'id': item.id}) }}" class="btn btn-light">
        <span class='bi bi-plus-lg'></span> Add Image </a>
    {% if item.images|length == 0 %}
        <a href="{{ path('item_add_remote_image', {'id': item.id}) }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> Add Remote Image
        </a>
    {% endif %}
    <a href="{{ path('item_edit', {'id': item.id}) }}" class="btn btn-light">
        <span class="bi bi-pencil-square"></span> Edit </a>
    <form class='delete-form' method="post" action="{{ path('item_delete', {'id': item.id}) }}"
            onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ item.id) }}">
        <button class="btn btn-danger"><span class="bi bi-trash"></span> Delete</button>
    </form>
{% endblock %}

{% block bodyclass %}
    {% if not(has_images) %} imageless{% endif %}
{% endblock %}

{% block body %}
    <section class="header">
        <div class="item-header item-header__full">
            <h1>{{ item.name }}</h1>
            <div>
                <h2>{{ dl.iterate(item.category, 'category_show')|striptags|trim }}</h2>

                {% set subtitle = [] %}

                {% if item.civilization|length > 0 %}
                    {% set subtitle = subtitle|merge([dl.iterate(item.civilization, 'civilization_show')|striptags|trim]) %}
                {% elseif item.civilizationOther is not null %}
                    {% set subtitle = subtitle|merge([dl.firstParaString(item.civilizationOther)]) %}
                {% endif %}

                {% if item.displayYear %}
                    {% set subtitle = subtitle|merge([item.displayYear]) %}
                {% endif %}

                {% if subtitle|length > 0 %}
                    <h3>{{ subtitle|join(', ')|raw }}</h3>
                {% endif %}
            </div>
        </div>
    </section>


    <section class="description">
        <div class="item-description">
            {{ item.description|raw }}
        </div>
    </section>

    {% if has_images %}
        <section class="images">
            <h2 class="visually-hidden">Images</h2>
            <div class="sticky">
                <div class="img-content">
                    {% if item.images|length > 0 %}
                        {% include 'image/partial/carousel.html.twig' with {'images': item.images} %}
                    {% else %}
                        {% embed 'partial/accordion.html.twig' with {'open': true} %}
                            {% block class %}item-details-remoteImg{% endblock %}
                            {% block summary %}Remote Images{% endblock %}
                            {% block content %}
                                <div class="item-details__content">
                                    <div>
                                        {% for image in item.remoteImages %}
                                            {% set text = image.url %}
                                            {% if 'britishmuseum.org' in text %}
                                                {% set text = 'British Museum' %}
                                            {% endif %}
                                            <div class="remote-image-content">
                                                <a href="{{ image.url }}">
                                                    <div>
                                                        <div>{{ image.title }}</div>
                                                        <div>{{ text }}</div>
                                                    </div>
                                                </a>
                                                {% if is_granted('ROLE_CONTENT_ADMIN') %}
                                                    <div class="img-toolbar">
                                                        <div class="row admin">
                                                            <a href="{{ path('item_edit_remote_image', {'id': item.id, 'remote_image_id': image.id}) }}" class="btn btn-light col">
                                                                <span class="bi bi-pencil-square"></span> Edit remote image</a>
                                                            <form class='delete-form col' method="post" action="{{ path('item_delete_remote_image', {'id': item.id, 'remote_image_id': image.id}) }}"
                                                                onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                                <input type="hidden" name="_method" value="DELETE">
                                                                <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ image.id) }}">
                                                                <button class="btn btn-danger w-100"><span class="bi bi-trash"></span> Delete remote image</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endblock %}
                        {% endembed %}
                    {% endif %}
                </div>
            </div>
        </section>
        {# Div for image viewer #}
        <div id="dm-viewer-container">
        </div>
    {% endif %}



    <section class="metadata">
        <div class="item-details-list">
            {% set dc %}
                {{ dl.make(item, 'category', 'Categories', 'category_show') }}
                {{ dl.make(item, 'provenance', "Provenance", "location_show", "itemsProvenanced") }}
                {{ dl.make(item, 'findSpot', "Find Spot", "location_show", "itemsFound") }}
                {{ dl.make(item, 'materials', "Materials", "material_show") }}
                {{ dl.make(item, 'techniques', "Techniques", "technique_show") }}
                {{ dl.make(item, 'dimensions', 'Dimensions') }}
                {{ dl.make(item, 'location', 'Location') }}
                {{ dl.make(item, 'civilization', 'Culture', 'civilization_show') }}
                {% set display_period = [item.periodStart|default('Unknown')] %}
                {% if not(item.periodEnd is same as(item.periodStart)) %}
                    {% set display_period = display_period|merge([item.periodEnd|default('Unknown')]) %}
                {% endif %}
                {{ dl.make({'display': display_period|join(' - ')|lower}, 'display', "Period") }}
                {{ dl.make(item, 'subjects', "Subjects", "subject_show") }}
            {% endset %}

            {% embed 'partial/accordion.html.twig' with {'open': true} %}
                {% block class %}item-details-main{% endblock %}
                {% block summary %}Item Information{% endblock %}
                {% block content %}
                    <div class="item-details-list">
                        {{ dc }}
                    </div>
                {% endblock %}
            {% endembed %}

            {# NOTE: We test for both inscription and translatedInscription
                     since there are many instances of inscriptions that just
                     say "None". #}

            {% if item.inscription and item.translatedInscription %}
                {% embed 'partial/accordion.html.twig' %}
                    {% block class %}item-details__inscription{% endblock %}
                    {% block summary %}Inscription{% endblock %}
                    {% block content %}
                        <div class="item-inscription">
                            <!--First column is information-->
                            <div class="item-inscription__body">
                                <div>

                                    <div class="item-inscription__header">
                                        <h4>Original</h4>
                                        {# TODO: Refactor this fairly significantly using the details macro #}
                                        {% if item.inscriptionStyle or item.inscriptionLanguage|length > 0 %}
                                            <ul class="list-inline">

                                                {% if item.inscriptionLanguage|length > 0 %}
                                                    <li class="item-inscription-language" data-caption="Language">
                                                        {% for language in item.inscriptionLanguage %}
                                                            <a href='{{ path("language_show", {"id": language.id}) }}'>{{ language }}</a>
                                                            {% if not loop.last %},{% endif %}
                                                        {% endfor %}
                                                    </li>
                                                {% endif %}

                                                {% if item.inscriptionStyle %}
                                                    <li class="item-inscription-style" data-caption="Style">
                                                        <a href='{{ path("inscription_style_show", {"id": item.inscriptionStyle.id}) }}'>{{ item.inscriptionStyle }}</a>
                                                    </li>
                                                {% endif %}

                                            </ul>
                                        {% endif %}
                                    </div>
                                    <div class="item-inscription__content{% if item.inscriptionLanguage|length %}{{ ' ' ~ item.inscriptionLanguage|map(lang => "#{lang.name}")|join(' ') }}{% endif %}">
                                        {{ item.inscription|raw }}
                                    </div>
                                </div>
                                {% if item.translatedInscription %}
                                    <div>
                                        <div class="item-inscription__header">
                                            <h4>Translation</h4>
                                        </div>
                                        <div class="item-inscription__content">
                                            {{ item.translatedInscription|raw }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endblock %}
                {% endembed %}
            {% endif %}


            {% if item.references %}
                {% embed 'partial/accordion.html.twig' %}
                    {% block class %}item-details__references{% endblock %}
                    {% block summary %}References{% endblock %}
                    {% block content %}
                        {{ item.references|raw|nl2br }}
                    {% endblock %}
                {% endembed %}
            {% endif %}

            {# Now hack together a citation block #}

            {% embed 'partial/accordion.html.twig' %}
                {% block class %}item-details__editHistory{% endblock %}
                {% block summary %}Credits and Citations{% endblock %}
                {% block content %}
                    <div class="item-details-list">
                        <div class="item-details item-details__citation">
                            <h2 class="item-details__header">Cite this Page</h2>
                            <div class="item-details__content">
                                <p>
                                    {% include 'partial/citation.html.twig' with {'title': item.name, 'updated': item.updated, 'contributions': item.contributions} %}
                                </p>
                            </div>
                        </div>

                        {% if item.revisions|length > 0 %}
                            <div class="item-details item-details__contributions">
                                <h2 class="item-details__header">Contributors</h2>
                                <div class="item-details__content">
                                    {% for contribution in item.contributions|sort((a,b) => a.person.citationName <=> b.person.citationName) %}
                                        {{ contribution.person.fullname }} -
                                        {% for role in contribution.roles %}
                                            {# <span class="badge text-bg-primary">{{ role.label|default('N/A') }}</span> #}
                                            {{ role.label|default('N/A') }}{{ not loop.last ? ', ' : '' }}
                                        {% endfor %}<br />
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% for field in ['updated', 'created'] %}
                            <div class="item-details item-details__item{{ field|capitalize }}">
                                <h2 class="item-details__header">{{ field|capitalize }}</h2>
                                <div class="item-details__content">
                                    <p>{{ attribute(item, field)|date('F j, Y') }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endblock %}
            {% endembed %}
            {% include '@NinesFeedback/comment/comment-interface.html.twig' with { 'entity': item } %}
        </div>
    </section>
{% endblock %}
