{% extends 'base.html.twig' %}
{% import 'item/partial/detail.html.twig' as dl %}

{% block title %}Item Details {% endblock %}

 {% block pageheader %}
     <h1 class="sr-only">{{ item.name }}</h1>
 {% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {
        'content':
       [
           ['Items', path('item_index')],
           [item.name]
        ]
    }
   %}
{% endblock %}

{% block admin %}
        <div class='btn-toolbar pull-right'>
            <div class="btn-group">
                <a href="{{ path('item_add_image', {'id': item.id}) }}" class="btn btn-default">
                    <span class='glyphicon glyphicon-plus'></span> Add Image </a>
            </div>
            <div class='btn-group'>
                <a href="{{ path('item_edit', {'id': item.id }) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span> Edit </a>
            </div>
            <div class='btn-group'>
                <form class='delete-form' method="post" action="{{ path('item_delete', {'id': item.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ item.id) }}">
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                </form>
            </div>
        </div>
{% endblock %}

{% block bodyclass %}
{% if item.images|length ==0 %} imageless{% endif %}
{% endblock %}

{% block body %}
    <section class="details">
        <h2 class="sr-only">Details</h2>
        <div class="thing">
            <h1>{{ item.name }}</h1>
        </div>
        <dl>
            <!-- {{ dl.make(item.name, 'Name') }} -->
            {{ dl.make(item.description, 'Description') }}
            {{ dl.make(item.category, 'Category', 'category_show') }}
            {{ dl.make(item.subjects, "Subjects", "subject_show") }}
            {{ dl.make(item.inscription, 'Inscription') }}
            {{ dl.make(item.translatedInscription, 'Translated Inscription') }}
            {{ dl.make(item.inscriptionStyle, "Style of Inscription", "inscription_style_show") }}
            {{ dl.make(item.civilization, 'Civilization', 'civilization_show') }}
            {{ dl.make(item.techniques, "Techniques", "techique_show") }}
            {{ dl.make(item.dimensions, 'Dimensions') }}
            {{ dl.make(item.provenance, "Provenance", "location_show") }}
            {{ dl.make(item.findSpot, "Find Spot", "location_show") }}
            {{ dl.make(item.references, 'References') }}
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <dt>Revisions</dt>
                <dd>
                    {% if item.revisions|length > 0 %}
                        {% for revision in item.revisions %}
                            {{ revision.date }} - {{ revision.initials }}<br />
                        {% endfor %}
                    {% else %}
                        —
                    {% endif %}
                </dd>

                <dt>Created</dt>
                <dd>{{ item.created|date }}</dd>

                <dt>Updated</dt>
                <dd>{{ item.updated|date }}</dd>
            {% endif %}
        </dl>
    </section>
    {% if item.images|length > 0 %}
        <section class="images">
            <h2 class="sr-only">Images</h2>
            <div class="img-content">
                {% embed 'image/partial/carousel.html.twig' with {'images': item.images } %}
                {% endembed %}
            </div>
        </section>
        <div id="ndm-viewer-container">
        </div>
    {% endif %}
{% endblock %}

{%  block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('yarn/viewerjs/dist/viewer.css') }}"/>
{%  endblock %}

{%  block  javascripts %}
<script src="{{ asset('yarn/viewerjs/dist/viewer.js') }}"></script>
{% endblock %}
