{% extends 'base.html.twig' %}

{% block title %}Item Details {% endblock %}

 {% block pageheader %}
     <h1>Item Details</h1>
 {% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a href="{{ path('item_edit', {'id': item.id }) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span> Edit </a>
            </div>
            <div class='btn-group'>
                <form class='delete-form' method="post" action="{{ path('item_delete', {'id': item.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ item.id) }}">
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                </form>
            </div>
        </div>
    {% endif %}

    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ item.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ item.description|raw }}</td>
            </tr>
            <tr>
                <th>Inscription</th>
                <td>{{ item.inscription|raw }}</td>
            </tr>
            <tr>
                <th>Translated Inscription</th>
                <td>{{ item.translatedInscription|raw }}</td>
            </tr>
            <tr>
                <th>Dimensions</th>
                <td>{{ item.dimensions }}</td>
            </tr>
            <tr>
                <th>References</th>
                <td>{{ item.references|raw }}</td>
            </tr>

            <tr>
                <th>Category</th>
                <td>
                    {% if item.category %}
                        <a href='{{ path('category_show', {'id': item.category.id}) }}'>
                            {{ item.category }}
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Civilization</th>
                <td>
                    {% if item.civilization %}
                        <a href='{{ path('civilization_show', {'id': item.civilization.id}) }}'>
                            {{ item.civilization }}
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Inscription Style</th>
                <td>
                    {% if item.inscription_style %}
                        <a href='{{ path('inscription_style_show', {'id': item.inscription_style.id}) }}'>
                            {{ item.inscription_style }}
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Find spot</th>
                <td>
                    {% if item.findSpot %}
                        <a href='{{ path('location_show', {'id': item.findSpot.id}) }}'>
                            {{ item.findSpot }}
                        </a>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>Provenance</th>
                <td>
                    {% if item.provenance %}
                        <a href='{{ path('location_show', {'id': item.provenance.id}) }}'>
                            {{ item.provenance }}
                        </a>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>Techniques</th>
                <td>
                    {% if item.techniques | length > 0 %}
                        <ul>
                            {% for technique in item.techniques %}
                                <li>
                                    <a href='{{ path('technique_show', {'id': technique.id}) }}'>
                                        {{ technique }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>Revisions</th>
                <td>
                    {% for revision in item.revisions %}
                        {{ revision.date }} - {{ revision.initials }}<br />
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ item.created|date }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ item.updated|date }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Images</h2>
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <div class="btn-toolbar">
            <div class="btn-group pull-right">
                <a href="{{ path('item_add_image', {'id': item.id}) }}" class="btn btn-default">
                    <span class='glyphicon glyphicon-plus'></span> Add Image </a>
            </div>
        </div>
    {% endif %}

    {% if item.images | length == 0 %}
        <p>No images yet.</p>
    {% else %}
        {% embed 'image/partial/list.html.twig' with {'images': item.images } %}
        {% endembed %}

        {% embed 'image/partial/image_modal.html.twig' %}
        {% endembed %}
    {% endif %}

{% endblock %}
